.menuButton {
  position: absolute;
  /* pointer-events: none; */
  top: 0;
  left: 0;
  filter: invert(1);
  height: 50px;
  width: 50px;
  margin: 30px;
  opacity: 0.4;
  visibility: visible;
  transition: all 0.4s ease;
}

.menuButton:hover {
  filter: invert(0.8);
  -webkit-filter: invert(0.8);
}

.menuButton:active {
  filter: invert(0.2);
  -webkit-filter: invert(0.2);
}

.menuButtonHover {
  opacity: 0;
  visibility: hidden;
}
