@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url(../fonts/HelveticaNeue-UltraLight.otf) format('otf');
}

.time {
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.time span {
  display: inherit;
  justify-self: center;
  font-size: 95px;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}

.time p {
  display: inherit;
  justify-self: center;
  font-size: 25px;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}
