html,
body {
  overflow: hidden;
}

.background {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: -10;
  transition: all 500ms ease;
  /* position: absolute; */
}
