@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url(../../fonts/HelveticaNeue-UltraLight.otf) format('otf');
}

@media screen and (min-width: 1200px) {
  span {
    font-size: 36px;
  }
}
.time {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.time span {
  width: 16vw;
  justify-self: center;
  text-align: center;
  font-size: 12vw;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}

.time p {
  justify-self: center;
  font-size: 3vw;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}

.timeSetting {
  font-family: 'HelveticaNeue-UltraLight';
  width: max-content;
  color: whitesmoke;
  text-align: left;
  font-size: 18px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}
