@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url(../../fonts/HelveticaNeue-UltraLight.otf) format('otf');
}

@media screen and (min-width: 1200px) {
  span {
    font-size: 36px;
  }
}
.time {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.time span {
  padding: 0;
  margin: 0;
  display: inherit;
  justify-self: center;
  font-size: 12vw;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}

.time p {
  padding: 0;
  margin: 0;
  display: inherit;
  justify-self: center;
  font-size: 2vw;
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
}

.timeSetting {
  font-family: 'HelveticaNeue-UltraLight';
  color: whitesmoke;
  text-align: left;
  text-shadow: 1px 1px black;
}
