.sidebar {
  top: 0;
  left: -180px;
  z-index: 2;
  position: absolute;
  padding: 30px 20px 20px 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(1fr);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
}

.hover {
  left: 0;
  visibility: visible;
  opacity: 1;
}
